In [1]:
import numpy as np
import pandas as pd

## Pandas utility function

In [4]:
#Similarly to numpy, pandas has some utility functions to identify and detect null value

In [5]:
pd.isnull(np.nan)

True

In [6]:
pd.isnull(None)

True

In [7]:
pd.isna(np.nan)

True

### The opposite ones also exists

In [8]:
pd.notnull(None)

False

In [9]:
pd.notnull(np.nan)

False

In [10]:
pd.notnull(3)

True

In [12]:
pd.isnull(pd.Series([1,np.nan,7]))

0    False
1     True
2    False
dtype: bool

In [13]:
pd.notnull(pd.Series([1,np.nan,7]))

0     True
1    False
2     True
dtype: bool

In [43]:
df=pd.DataFrame({
    'Column A':[1,np.nan,7],
    'Column B':[np.nan,2,3],
    'Column C':[np.nan,2,np.nan],
})

In [42]:
df

   Column A  Column B  Column C
0       1.0       NaN       NaN
1       NaN       2.0       2.0
2       7.0       3.0       NaN

In [34]:
df.isnull()

   Column A  Column B  Column C
0     False      True      True
1      True     False     False
2     False     False      True

In [37]:
df.shape

(3, 3)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Column A  2 non-null      float64
 1   Column B  2 non-null      float64
 2   Column C  1 non-null      float64
dtypes: float64(3)
memory usage: 204.0 bytes

## Filtering Data

In [15]:
s=pd.Series([1,2,3,np.nan,np.nan,4])

In [16]:
pd.notnull(s)

0     True
1     True
2     True
3    False
4    False
5     True
dtype: bool

In [21]:
pd.isnull(s)

0    False
1    False
2    False
3     True
4     True
5    False
dtype: bool

In [17]:
pd.notnull(s).count()

6

In [18]:
pd.notnull(s).sum()

4

In [20]:
pd.isnull(s).sum()

2

In [23]:
s[pd.notnull(s)]

0    1.0
1    2.0
2    3.0
5    4.0
dtype: float64

In [24]:
s.isnull()

0    False
1    False
2    False
3     True
4     True
5    False
dtype: bool

In [25]:
s.notnull()

0     True
1     True
2     True
3    False
4    False
5     True
dtype: bool

In [26]:
s[s.notnull()]

0    1.0
1    2.0
2    3.0
5    4.0
dtype: float64

## Dropping null Values

In [28]:
s.dropna()

0    1.0
1    2.0
2    3.0
5    4.0
dtype: float64