In [1]:
import numpy as np
import pandas as pd

In [7]:
df = pd.DataFrame ({
    'Population':[35.467,63.951,80.940,60.665,127.061,64.511,318.523],
    'GDP':[1785387,2833687,3874437,2167744,4602367,2950039,17348075],
    'Surface Area':[9984670,640679,357114,301336,377930,242495,9525067],
    'HDI':[0.913,0.888,0.916,0.837,0.891,0.907,0.915],
    'Continent':['America','Europe','Europe','Europe','Asia','Europe','America'],
},
    columns=['Population','GDP','Surface Area','HDI','Continent'])

In [8]:
df

   Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9984670  0.913   America
1      63.951   2833687        640679  0.888    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.837    Europe
4     127.061   4602367        377930  0.891      Asia
5      64.511   2950039        242495  0.907    Europe
6     318.523  17348075       9525067  0.915   America

In [9]:
df.index=['Canada','France','Germany','Italy','Japan','United Kingdom','United States']

In [10]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.837    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [12]:
df.columns

Index(['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'], dtype='object')

In [11]:
df.index

Index(['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom',
       'United States'],
      dtype='object')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Canada to United States
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Population    7 non-null      float64
 1   GDP           7 non-null      int64
 2   Surface Area  7 non-null      int64
 3   HDI           7 non-null      float64
 4   Continent     7 non-null      object
dtypes: float64(2), int64(2), object(1)
memory usage: 336.0+ bytes

In [15]:
df.size

35

In [16]:
df.shape

(7, 5)

In [17]:
df.describe()

       Population           GDP  Surface Area       HDI
count    7.000000  7.000000e+00  7.000000e+00  7.000000
mean   107.302571  5.080248e+06  3.061327e+06  0.895286
std     97.249970  5.494020e+06  4.576187e+06  0.028099
min     35.467000  1.785387e+06  2.424950e+05  0.837000
25%     62.308000  2.500716e+06  3.292250e+05  0.889500
50%     64.511000  2.950039e+06  3.779300e+05  0.907000
75%    104.000500  4.238402e+06  5.082873e+06  0.914000
max    318.523000  1.734808e+07  9.984670e+06  0.916000

In [18]:
df.dtypes

Population      float64
GDP               int64
Surface Area      int64
HDI             float64
Continent        object
dtype: object

In [20]:
df.dtypes.value_counts()

float64    2
int64      2
object     1
Name: count, dtype: int64

## Indexing,Selection & Slicing

In [21]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.837    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [22]:
df.loc['Canada']

Population       35.467
GDP             1785387
Surface Area    9984670
HDI               0.913
Continent       America
Name: Canada, dtype: object

In [23]:
df.iloc[-1]

Population       318.523
GDP             17348075
Surface Area     9525067
HDI                0.915
Continent        America
Name: United States, dtype: object

In [24]:
df['Population']

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: Population, dtype: float64

In [25]:
df.loc['France':'Italy',['Population','GDP']]

         Population      GDP
France       63.951  2833687
Germany      80.940  3874437
Italy        60.665  2167744

In [26]:
df.iloc[1:3,3]

France     0.888
Germany    0.916
Name: HDI, dtype: float64

In [28]:
df.loc[df['Population'] >70]

               Population       GDP  Surface Area    HDI Continent
Germany            80.940   3874437        357114  0.916    Europe
Japan             127.061   4602367        377930  0.891      Asia
United States     318.523  17348075       9525067  0.915   America

In [27]:
df['Population']>70

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: Population, dtype: bool

In [31]:
df.loc[df['Population'] >70,'Population']

Germany           80.940
Japan            127.061
United States    318.523
Name: Population, dtype: float64

In [33]:
df.loc[df['Population'] >70,['Population','GDP']]

               Population       GDP
Germany            80.940   3874437
Japan             127.061   4602367
United States     318.523  17348075

## Dropping Stuff

#by droping it mens to deleting the mentioned sell,column,row.

In [34]:
df.drop('Canada')

                Population       GDP  Surface Area    HDI Continent
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.837    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [36]:
df.drop(['Canada','United States'])

                Population      GDP  Surface Area    HDI Continent
France              63.951  2833687        640679  0.888    Europe
Germany             80.940  3874437        357114  0.916    Europe
Italy               60.665  2167744        301336  0.837    Europe
Japan              127.061  4602367        377930  0.891      Asia
United Kingdom      64.511  2950039        242495  0.907    Europe

In [38]:
df.drop(columns=['Population','GDP'])

                Surface Area    HDI Continent
Canada               9984670  0.913   America
France                640679  0.888    Europe
Germany               357114  0.916    Europe
Italy                 301336  0.837    Europe
Japan                 377930  0.891      Asia
United Kingdom        242495  0.907    Europe
United States        9525067  0.915   America

## Modifying data frame

In [39]:
#Assigning a new column to the df with specific value to specific cell.

In [40]:
langs=pd.Series(['French','German','Italian'],
               index=['France','Germany','Italy'],
               name='Language')

In [41]:
df['Language']=langs

In [42]:
df

                Population       GDP  Surface Area    HDI Continent Language
Canada              35.467   1785387       9984670  0.913   America      NaN
France              63.951   2833687        640679  0.888    Europe   French
Germany             80.940   3874437        357114  0.916    Europe   German
Italy               60.665   2167744        301336  0.837    Europe  Italian
Japan              127.061   4602367        377930  0.891      Asia      NaN
United Kingdom      64.511   2950039        242495  0.907    Europe      NaN
United States      318.523  17348075       9525067  0.915   America      NaN

In [43]:
#Replacing with default value

In [44]:
df['Language']='Enaglish'

In [45]:
df

                Population       GDP  Surface Area    HDI Continent  Language
Canada              35.467   1785387       9984670  0.913   America  Enaglish
France              63.951   2833687        640679  0.888    Europe  Enaglish
Germany             80.940   3874437        357114  0.916    Europe  Enaglish
Italy               60.665   2167744        301336  0.837    Europe  Enaglish
Japan              127.061   4602367        377930  0.891      Asia  Enaglish
United Kingdom      64.511   2950039        242495  0.907    Europe  Enaglish
United States      318.523  17348075       9525067  0.915   America  Enaglish

In [47]:
df.rename(columns={'HDI':'Human Developement Index'},
          index={'United States':'USA',
                'United Kingdom':'UK',
                })

,Population,GDP,Surface Area,Human Developement Index,Continent,Language
Canada,35.467,1785387,9984670,0.913,America,Enaglish
France,63.951,2833687,640679,0.888,Europe,Enaglish
Germany,80.940,3874437,357114,0.916,Europe,Enaglish
Italy,60.665,2167744,301336,0.837,Europe,Enaglish
Japan,127.061,4602367,377930,0.891,Asia,Enaglish
UK,64.511,2950039,242495,0.907,Europe,Enaglish
USA,318.523,17348075,9525067,0.915,America,Enaglish

In [48]:
df

                Population       GDP  Surface Area    HDI Continent  Language
Canada              35.467   1785387       9984670  0.913   America  Enaglish
France              63.951   2833687        640679  0.888    Europe  Enaglish
Germany             80.940   3874437        357114  0.916    Europe  Enaglish
Italy               60.665   2167744        301336  0.837    Europe  Enaglish
Japan              127.061   4602367        377930  0.891      Asia  Enaglish
United Kingdom      64.511   2950039        242495  0.907    Europe  Enaglish
United States      318.523  17348075       9525067  0.915   America  Enaglish

In [49]:
df['GDP'] / df['Population']

Canada            50339.385908
France            44310.284437
Germany           47868.013343
Italy             35733.025633
Japan             36221.712406
United Kingdom    45729.239975
United States     54464.120330
dtype: float64

In [50]:
df['GDP per Capita']=df['GDP'] / df['Population']

In [51]:
df

,Population,GDP,Surface Area,HDI,Continent,Language,GDP per Capita
Canada,35.467,1785387,9984670,0.913,America,Enaglish,50339.385908
France,63.951,2833687,640679,0.888,Europe,Enaglish,44310.284437
Germany,80.940,3874437,357114,0.916,Europe,Enaglish,47868.013343
Italy,60.665,2167744,301336,0.837,Europe,Enaglish,35733.025633
Japan,127.061,4602367,377930,0.891,Asia,Enaglish,36221.712406
United Kingdom,64.511,2950039,242495,0.907,Europe,Enaglish,45729.239975
United States,318.523,17348075,9525067,0.915,America,Enaglish,54464.120330