# Reading HTML tables

In this lecture we'll learn how to read and parse HTML tables from websites into a list of "DataFrame" objects to work with.

In [1]:
import pandas as pd

## Parsing raw HTML strings

Another useful pandas method is "read_html()".This method will read HTML tables from a given URL,a file-like object,or a raw string containing HTML,and return a list of "DataFrame" objects.

Let's try to read the following "html_string" into a "DataFrame".

In [2]:
html_string = """
<table>
    <thead>
      <tr>
        <th>Order date</th>
        <th>Region</th> 
        <th>Item</th>
        <th>Units</th>
        <th>Unit cost</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1/6/2018</td>
        <td>East</td> 
        <td>Pencil</td>
        <td>95</td>
        <td>1.99</td>
      </tr>
      <tr>
        <td>1/23/2018</td>
        <td>Central</td> 
        <td>Binder</td>
        <td>50</td>
        <td>19.99</td>
      </tr>
      <tr>
        <td>2/9/2018</td>
        <td>Central</td> 
        <td>Pencil</td>
        <td>36</td>
        <td>4.99</td>
      </tr>
      <tr>
        <td>3/15/2018</td>
        <td>West</td> 
        <td>Pen</td>
        <td>27</td>
        <td>19.99</td>
      </tr>
    </tbody>
</table>
"""

In [3]:
dfs=pd.read_html(html_string)

the "read_html" just returned one "DataFrame" object:

In [4]:
len(dfs)

1

In [5]:
df=dfs[0]

In [6]:
df

  Order date   Region    Item  Units  Unit cost
0   1/6/2018     East  Pencil     95       1.99
1  1/23/2018  Central  Binder     50      19.99
2   2/9/2018  Central  Pencil     36       4.99
3  3/15/2018     West     Pen     27      19.99

Previous "DataFrame" looks quite similar tothe raw HTML table,but now we have a "DataFrame" object.so we can apply any pandas operation we want to it.

In [7]:
df.shape

(4, 5)

In [8]:
df.loc[df['Region']=='Central']

  Order date   Region    Item  Units  Unit cost
1  1/23/2018  Central  Binder     50      19.99
2   2/9/2018  Central  Pencil     36       4.99

## Defining header

Pandas will automatically find the header to use thanks to the tag.

But in many cases we'll find wrong or incomplete tables that make the "read_html" method parse the tables in a wrong way without the proper headers.

To fix them we can use the "header" parameter.

In [9]:
html_string = """
<table>
  <tr>
    <td>Order date</td>
    <td>Region</td> 
    <td>Item</td>
    <td>Units</td>
    <td>Unit cost</td>
  </tr>
  <tr>
    <td>1/6/2018</td>
    <td>East</td> 
    <td>Pencil</td>
    <td>95</td>
    <td>1.99</td>
  </tr>
  <tr>
    <td>1/23/2018</td>
    <td>Central</td> 
    <td>Binder</td>
    <td>50</td>
    <td>19.99</td>
  </tr>
  <tr>
    <td>2/9/2018</td>
    <td>Central</td> 
    <td>Pencil</td>
    <td>36</td>
    <td>4.99</td>
  </tr>
  <tr>
    <td>3/15/2018</td>
    <td>West</td> 
    <td>Pen</td>
    <td>27</td>
    <td>19.99</td>
  </tr>
</table>
"""

In [10]:
pd.read_html(html_string)[0]

            0        1       2      3          4
0  Order date   Region    Item  Units  Unit cost
1    1/6/2018     East  Pencil     95       1.99
2   1/23/2018  Central  Binder     50      19.99
3    2/9/2018  Central  Pencil     36       4.99
4   3/15/2018     West     Pen     27      19.99

In this case,we'll need to pass the row number to use as header using the "header" parameter.

In [11]:
pd.read_html(html_string,header=0)[0]

  Order date   Region    Item  Units  Unit cost
0   1/6/2018     East  Pencil     95       1.99
1  1/23/2018  Central  Binder     50      19.99
2   2/9/2018  Central  Pencil     36       4.99
3  3/15/2018     West     Pen     27      19.99

## Psrsing HTML tables from the web

Now that we know hoe "read_html" works,let's go one step beyond anp try to parse HTML tables directly from an URL.

To do that we'll call the "read_html" method with an URL as parameter

## Simple example

In [12]:
html_url = "https://www.basketball-reference.com/leagues/NBA_2019_per_game.html"

In [13]:
nba_tables=pd.read_html(html_url)

In [14]:
len(nba_tables)

1

we'll work with the only table found:

In [15]:
nba=nba_tables[0]

In [16]:
nba.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Álex Abrines,SG,25,OKC,31,2,19.0,1.8,5.1,...,.923,0.2,1.4,1.5,0.6,0.5,0.2,0.5,1.7,5.3
1,2,Quincy Acy,PF,28,PHO,10,0,12.3,0.4,1.8,...,.700,0.3,2.2,2.5,0.8,0.1,0.4,0.4,2.4,1.7
2,3,Jaylen Adams,PG,22,ATL,34,1,12.6,1.1,3.2,...,.778,0.3,1.4,1.8,1.9,0.4,0.1,0.8,1.3,3.2
3,4,Steven Adams,C,25,OKC,80,80,33.4,6.0,10.1,...,.500,4.9,4.6,9.5,1.6,1.5,1.0,1.7,2.6,13.9
4,5,Bam Adebayo,C,21,MIA,82,28,23.3,3.4,5.9,...,.735,2.0,5.3,7.3,2.2,0.9,0.8,1.5,2.5,8.9

## Comlpex example

We can also use the "requests" module to get HTML code from an URL to parse it into ""DataFrame" objects

If we look at the given URL we can see multiple tables about The Simpsons TV show.

We want to keep the table with information about each season.

In [47]:
import requests

html_url ="https://en.wikipedia.org/wiki/The_Simpsons"

In [48]:
r = requests.get(html_url)

wiki_tables = pd.read_html(r.text, header=0)

In [49]:
len(wiki_tables)

50

In [50]:
simpsons = wiki_tables[1]

In [51]:
simpsons.head()

,Cast members,Cast members.1,Cast members.2,Cast members.3,Cast members.4,Cast members.5,Cast members.6,Cast members.7,Cast members.8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Dan Castellaneta,Julie Kavner,Nancy Cartwright,Yeardley Smith,Hank Azaria,Harry Shearer,NaN,NaN,NaN
2,"Homer Simpson, Abe Simpson, Krusty the Clown, ...","Marge Simpson, Patty and Selma Bouvier, additi...","Bart Simpson, Maggie Simpson, various characters",Lisa Simpson,"Moe Szyslak, Chief Wiggum, Apu Nahasapeemapeti...","Ned Flanders, Mr. Burns, Dr. Hibbert (1990–202...",NaN,NaN,NaN

Quick clean on the table : remove extra header rows and set "Seasons" as index.

In [45]:
simpsons.drop([0, 1], inplace=True)

KeyError: '[1] not found in axis'

In [46]:
simpsons.set_index('Season', inplace=True)

KeyError: "None of ['Season'] are in the columns"

In [33]:
simpsons['No. ofepisodes'].unique()

KeyError: 'No. ofepisodes'

In [34]:
simpsons = simpsons.loc[simpsons['No. ofepisodes'] != 'TBA']

KeyError: 'No. ofepisodes'

In [35]:
min_season = simpsons['No. ofepisodes'].min()

min_season

KeyError: 'No. ofepisodes'

In [36]:
simpsons.loc[simpsons['No. ofepisodes'] == min_season]

KeyError: 'No. ofepisodes'

## Save to CSV file

Finally save the DataFrame to a CSV file as we saw on previous lectures.

In [37]:
simpsons.head()

,Cast members,Cast members.1,Cast members.2,Cast members.3,Cast members.4,Cast members.5,Cast members.6,Cast members.7,Cast members.8
2,"Homer Simpson, Abe Simpson, Krusty the Clown, ...","Marge Simpson, Patty and Selma Bouvier, additi...","Bart Simpson, Maggie Simpson, various characters",Lisa Simpson,"Moe Szyslak, Chief Wiggum, Apu Nahasapeemapeti...","Ned Flanders, Mr. Burns, Dr. Hibbert (1990–202...",NaN,NaN,NaN

In [38]:
simpsons.to_csv('out.csv')

In [39]:
pd.read_csv('out.csv', index_col='Season').head()

ValueError: Index Season invalid